        <section class="hero_single office">
            <div class="wrapper">
                <div class="container">
                    <h1>RESVIEW</h1>
                    <p>Help you have the happy meal</p>
                </div>
            </div>
        </section>
        <!-- /hero_single -->
        
		<div class="container margin_80">
			<div class="row d-flex align-items-center">
				<div class="col-lg-6">
					<img alt="" src="https://images.unsplash.com/photo-1556742205-e10c9486e506?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid rounded">
				</div>
				<div class="col-lg-6 pl-lg-5 pt-4">
					<h2>Purpose</h2>
					<p class="lead">Delivers a simple experience for users in food selection, searching for places to eat. Help restaurants easily promote their restaurant.</p>
					<p class="lead"><em>CEO Khoa Nguyen</em></p>
				</div>
			</div>
		</div>
		<!-- /container -->
		
		<div class="bg_color_1">
		<div class="container margin_80">
			<div class="row d-flex align-items-center">
				<div class="col-lg-6 pl-lg-5 order-lg-last">
					<img alt="" src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid rounded">
				</div>
				<div class="col-lg-6 pt-4 order-lg-first">
					<h2>What is RESVIEW?</h2>
					<p class="lead">Built in 2019 in Hanoi, Vietnam, RESVIEW is a trusted community for people to search, review and comment on places to eat: restaurants, bars, cafes, bars, karaoke, salons. Biscuits, resorts ... in Vietnam. All members from North to South, RESVIEW connects diners to large and small dining venues across the country.</p>
					<p class="lead">Up to now, RESVIEW with hundreds of thousands of locations and hundreds of thousands of comments and photos in Vietnam, in most provinces.</p>
				</div>
			</div>
		</div>
		<!-- /container -->
		</div>
		<!-- /bg_color_1 -->
		
		<div class="values">
			<div class="wrapper">
				<div class="container">
					<div class="main_title_2">
						<h2>Our criteria</h2>
						<p>Bring the best quality product</p>
					</div>
					<div class="row justify-content-center" style="min-height: 210px">
						<div class="col-lg-5">
							<div class="nav flex-column" role="tablist" aria-orientation="vertical">
								<a class="nav-link active" id="tab-1" data-toggle="tab" href="#tab-1-content" role="tab" aria-controls="tab-1-content" aria-selected="true">Searching is easy</a>
								<a class="nav-link" id="tab-2" data-toggle="tab" href="#tab-2-content" role="tab" aria-controls="tab-2-content" aria-selected="false">Classify clearly</a>
								<a class="nav-link" id="tab-3" data-toggle="tab" href="#tab-3-content" role="tab" aria-controls="tab-3-content" aria-selected="false">Comments & Reviews</a>
							</div>
						</div>
						<div class="col-lg-5">
							<div class="tab-content">
								<div class="tab-pane fade show active" id="tab-1-content" role="tabpanel" aria-labelledby="tab-1">
									<p class="lead">Smart search engine by typing: place name, or address, or street name, or dish name, or purpose, or area name. The search system uses suggestions & a quick look at information, helping you find the fastest place</p>
								</div>
								<div class="tab-pane fade" id="tab-2-content" role="tabpanel" aria-labelledby="tab-2">
									<p class="lead">RESVIEW classifies locations in detail: by purpose, type, food, price, type of cuisine ... This helps the community filter locations by their goals very quickly.</p>
								</div>
								<div class="tab-pane fade" id="tab-3-content" role="tabpanel" aria-labelledby="tab-3">
									<p class="lead">RESVIEW allows members to comment and rate places on a 5-star scale, which gives the community an overview of places to eat and drink. Due to the characteristics of each different location, for example, the cafe, the community will be interested in Space, for the Restaurant, the community is interested in the quality of the dish ... This is the difference of RESVIEW compared to other service way.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /values -->
		<!--/container-->