        <section class="hero_single office">
            <div class="wrapper">
                <div class="container">
                    <h1>RESVIEW</h1>
                    <p>Giúp bạn có những bữa ăn trọn vẹn</p>
                </div>
            </div>
        </section>
        <!-- /hero_single -->
        
		<div class="container margin_80">
			<div class="row d-flex align-items-center">
				<div class="col-lg-6">
					<img alt="" src="https://images.unsplash.com/photo-1556742205-e10c9486e506?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid rounded">
				</div>
				<div class="col-lg-6 pl-lg-5 pt-4">
					<h2>Mục đích</h2>
					<p class="lead">Mang đến một trải nghiệm đơn giản cho người dùng trong việc lựa chọn món ăn, tìm kiếm địa điểm ăn uống. Giúp các nhà hàng dễ dàng quảng bá nhà hàng của họ.</p>
					<p class="lead"><em>CEO Khoa Nguyen</em></p>
				</div>
			</div>
		</div>
		<!-- /container -->
		
		<div class="bg_color_1">
		<div class="container margin_80">
			<div class="row d-flex align-items-center">
				<div class="col-lg-6 pl-lg-5 order-lg-last">
					<img alt="" src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid rounded">
				</div>
				<div class="col-lg-6 pt-4 order-lg-first">
					<h2>RESVIEW là gì</h2>
					<p class="lead">Được xây dựng từ năm 2019 tại HN, Việt Nam, RESVIEW là cộng đồng tin cậy cho mọi người có thể tìm kiếm, đánh giá, bình luận các địa điểm ăn uống: nhà hàng, quán ăn, cafe, bar, karaoke, tiệm bánh, khu du lịch... tại Việt Nam. Tất cả thành viên từ Bắc đến Nam, RESVIEW kết nối những thực khách đến với các địa điểm ăn uống lớn nhỏ cả đất nước.</p>
					<p class="lead">Đến thời điểm hiện tại, RESVIEW với hàng trăm ngàn địa điểm và hàng trăm ngàn bình luận, hình ảnh tại Việt Nam, ở hầu hết các tỉnh thành.</p>
				</div>
			</div>
		</div>
		<!-- /container -->
		</div>
		<!-- /bg_color_1 -->
		
		<div class="values">
			<div class="wrapper">
				<div class="container">
					<div class="main_title_2">
						<h2>Tiêu chí của chúng tôi</h2>
						<p>Đem lại một sản phẩm chất lượng nhất</p>
					</div>
					<div class="row justify-content-center" style="min-height: 210px">
						<div class="col-lg-5">
							<div class="nav flex-column" role="tablist" aria-orientation="vertical">
								<a class="nav-link active" id="tab-1" data-toggle="tab" href="#tab-1-content" role="tab" aria-controls="tab-1-content" aria-selected="true">Tìm kiếm dễ dàng</a>
								<a class="nav-link" id="tab-2" data-toggle="tab" href="#tab-2-content" role="tab" aria-controls="tab-2-content" aria-selected="false">Phân loại rõ ràng</a>
								<a class="nav-link" id="tab-3" data-toggle="tab" href="#tab-3-content" role="tab" aria-controls="tab-3-content" aria-selected="false">Bình luận & Đánh giá</a>
							</div>
						</div>
						<div class="col-lg-5">
							<div class="tab-content">
								<div class="tab-pane fade show active" id="tab-1-content" role="tabpanel" aria-labelledby="tab-1">
									<p class="lead">Công cụ tìm kiếm thông minh bằng cách gõ: tên địa điểm, hoặc địa chỉ, hoặc tên đường, hoặc tên món ăn, hoặc mục đích, hoặc tên khu vực. Hệ thống tìm kiếm sử dụng gợi ý & xem nhanh thông tin, giúp bạn tìm địa điểm nhanh nhất</p>
								</div>
								<div class="tab-pane fade" id="tab-2-content" role="tabpanel" aria-labelledby="tab-2">
									<p class="lead">RESVIEW phân loại các địa điểm ra rất chi tiết: theo mục đích, loại hình, món ăn, giá cả, loại ẩm thực... Điều này giúp cộng đồng lọc địa điểm theo mục đích của mình rất nhanh chóng.</p>
								</div>
								<div class="tab-pane fade" id="tab-3-content" role="tabpanel" aria-labelledby="tab-3">
									<p class="lead">RESVIEW cho phép thành viên vào bình luận, đánh giá địa điểm với thang điểm 5 sao, điều này giúp cộng đồng có cái nhìn tổng quan về các địa điểm ăn uống. Do đặc thù của mỗi địa điểm khác nhau, ví dụ Quán cafe, cộng đồng sẽ quan tâm đến Không gian, đối với Quán Ăn thì cộng đồng quan tâm đến chất lượng món... Đây chính là điểm khác biệt của RESVIEW so với cách dịch vụ khác.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /values -->
		<!--/container-->