<div id="page">
		
	<header class="header menu_fixed">
		<div id="logo">
			<a href="index.html">
				<img src="assets/img/logo.png" width="140" height="35" alt="" class="logo_normal">
				<img src="assets/img/logo.png" width="140" height="35" alt="" class="logo_sticky">
			</a>
		</div>
		<ul id="top_menu">
			<li><a href="#sign-in-dialog" id="sign-in" class="btn_top">Đăng nhập</a></li>
		</ul>
		<!-- /top_menu -->
		<a href="#menu" class="btn_mobile">
			<div class="hamburger hamburger--spin" id="hamburger">
				<div class="hamburger-box">
					<div class="hamburger-inner"></div>
				</div>
			</div>
		</a>
		<!-- /btn_mobile -->
		<nav id="menu" class="main-menu">
			<ul>
				<li><span><a href="#0">Trang chủ</a></span>
				</li>
				<li><span><a href="#0">Đánh giá</a></span>
				</li>
				<li><span><a href="">Nhà hàng</a></span></li>
			</ul>
		</nav>
	</header>
	<!-- /header -->
	
	<main>
		<section class="hero_single version_1">
			<div class="wrapper">
				<div class="container">
					<h3>Mọi thứ ở đây đều thật tuyệt vời!</h3>
					<p>Tìm kiếm nhà hàng mà bạn mong muốn</p>
					<div class="row justify-content-center">
						<div class="col-lg-9">
						<form method="post" action="grid-listings-filterstop.html">
							<div class="row no-gutters custom-search-input-2">
								<div class="col-lg-7">
									<div class="form-group">
										<input class="form-control" type="text" placeholder="Bạn đang muốn tìm ...">
										<i class="fas fa-search"></i>
									</div>
								</div>
								<div class="col-lg-3">
									<select class="wide">
										<option>Tất cả</option>	
										<option>Món Âu Mỹ</option>
										<option>Món Á</option>
										<option>Đồ uống</option>
										<option>Khác</option>
									</select>
								</div>
								<div class="col-lg-2">
									<input type="submit" value="Tìm kiếm">
								</div>
							</div>
							<!-- /row -->
						</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /hero_single -->
		
		<div class="container margin_60_35">
			<div class="main_title_3">
					<h2>Nhà hàng</h2>
					<a href="all-categories.html">Xem tất cả</a>
				</div>
			<div class="row justify-content-center">
				<div class="col-lg-4 col-sm-6">
					<a href="grid-listings-filterstop.html" class="grid_item">
						<figure>
							<img src="assets/img/box_cat_home_1.jpg" alt="">
							<div class="info">
								<small><i class="fas fa-comment"></i> 356 Reviews</small>
								<span class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><em>4.50/5.00</em></span>
								<h3>Bún đậu mắm tôm bà Thu</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-sm-6">
					<a href="grid-listings-filterstop.html" class="grid_item">
						<figure>
							<img src="assets/img/box_cat_home_1.jpg" alt="">
							<div class="info">
								<small><i class="fas fa-comment"></i> 356 Reviews</small>
								<span class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><em>4.50/5.00</em></span>
								<h3>Cháo lòng cô Bắc</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-sm-6">
					<a href="grid-listings-filterstop.html" class="grid_item">
						<figure>
							<img src="assets/img/box_cat_home_1.jpg" alt="">
							<div class="info">
								<small><i class="fas fa-comment"></i> 356 Reviews</small>
								<span class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><em>4.50/5.00</em></span>
								<h3>Phở gà gia truyền số nhà 11</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-sm-6">
					<a href="grid-listings-filterstop.html" class="grid_item">
						<figure>
							<img src="assets/img/box_cat_home_1.jpg" alt="">
							<div class="info">
								<small><i class="fas fa-comment"></i> 356 Reviews</small>
								<span class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><em>4.50/5.00</em></span>
								<h3>Hàng cơm thịt rang cháy cạnh</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-sm-6">
					<a href="grid-listings-filterstop.html" class="grid_item">
						<figure>
							<img src="assets/img/box_cat_home_1.jpg" alt="">
							<div class="info">
								<small><i class="fas fa-comment"></i> 356 Reviews</small>
								<span class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><em>4.50/5.00</em></span>
								<h3>Lẩu Toco Toco</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-sm-6">
					<a href="grid-listings-filterstop.html" class="grid_item">
						<figure>
							<img src="assets/img/box_cat_home_1.jpg" alt="">
							<div class="info">
								<small><i class="fas fa-comment"></i> 356 Reviews</small>
								<span class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><em>4.50/5.00</em></span>
								<h3>Trà sữa KingBBQ</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
		
		<div class="bg_color_1">
		<div class="container margin_60">
			<div class="main_title_3">
				<h2>Review mới nhất</h2>
				<a href="reviews-page.html">Xem tất cả</a>
			</div>
			
			<div id="reccomended" class="owl-carousel owl-theme">
				<div class="item">
					<div class="review_listing">
						<div class="clearfix">
							<figure><img src="assets/img/avatar.jpg" alt=""></figure>
							<span class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><em>4.50/5.00</em></span>
						</div>
						<h3><strong>Khoa Nguyễn</strong> đánh giá <a href="reviews-page.html">Bún đậu mắm tôm bà Thu</a></h3>
						<h4>"Thật tuyệt vời"</h4>
						<p>Hương vị bún đậu kết hợp mắm tôm thật đậm đà</p>
						<ul class="clearfix">
							<li><small>Ngày đăng: 26.08.2018</small></li>
							<li><a href="reviews-page.html" class="btn_1 small">Đọc đánh giá</a></li>
						</ul>
					</div>
				</div>
				
				<div class="item">
					<div class="review_listing">
						<div class="clearfix">
							<figure><img src="assets/img/avatar.jpg" alt=""></figure>
							<span class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><em>4.50/5.00</em></span>
						</div>
						<h3><strong>Khoa Nguyễn</strong> đánh giá <a href="reviews-page.html">Bún đậu mắm tôm bà Thu</a></h3>
						<h4>"Thật tuyệt vời"</h4>
						<p>Hương vị bún đậu kết hợp mắm tôm thật đậm đà</p>
						<ul class="clearfix">
							<li><small>Ngày đăng: 26.08.2018</small></li>
							<li><a href="reviews-page.html" class="btn_1 small">Đọc đánh giá</a></li>
						</ul>
					</div>
				</div>
				
				<div class="item">
					<div class="review_listing">
						<div class="clearfix">
							<figure><img src="assets/img/avatar.jpg" alt=""></figure>
							<span class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><em>4.50/5.00</em></span>
						</div>
						<h3><strong>Khoa Nguyễn</strong> đánh giá <a href="reviews-page.html">Bún đậu mắm tôm bà Thu</a></h3>
						<h4>"Thật tuyệt vời"</h4>
						<p>Hương vị bún đậu kết hợp mắm tôm thật đậm đà</p>
						<ul class="clearfix">
							<li><small>Ngày đăng: 26.08.2018</small></li>
							<li><a href="reviews-page.html" class="btn_1 small">Đọc đánh giá</a></li>
						</ul>
					</div>
				</div>
				
				<div class="item">
					<div class="review_listing">
						<div class="clearfix">
							<figure><img src="assets/img/avatar.jpg" alt=""></figure>
							<span class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><em>4.50/5.00</em></span>
						</div>
						<h3><strong>Khoa Nguyễn</strong> đánh giá <a href="reviews-page.html">Bún đậu mắm tôm bà Thu</a></h3>
						<h4>"Thật tuyệt vời"</h4>
						<p>Hương vị bún đậu kết hợp mắm tôm thật đậm đà</p>
						<ul class="clearfix">
							<li><small>Ngày đăng: 26.08.2018</small></li>
							<li><a href="reviews-page.html" class="btn_1 small">Đọc đánh giá</a></li>
						</ul>
					</div>
				</div>
				
				<div class="item">
					<div class="review_listing">
						<div class="clearfix">
							<figure><img src="assets/img/avatar.jpg" alt=""></figure>
							<span class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><em>4.50/5.00</em></span>
						</div>
						<h3><strong>Khoa Nguyễn</strong> đánh giá <a href="reviews-page.html">Bún đậu mắm tôm bà Thu</a></h3>
						<h4>"Thật tuyệt vời"</h4>
						<p>Hương vị bún đậu kết hợp mắm tôm thật đậm đà</p>
						<ul class="clearfix">
							<li><small>Ngày đăng: 26.08.2018</small></li>
							<li><a href="reviews-page.html" class="btn_1 small">Đọc đánh giá</a></li>
						</ul>
					</div>
				</div>

			</div>
			<!-- /carousel -->
		</div>
		<!-- /container -->
		</div>
		<!-- /bg_color_1 -->
		
		<div class="call_section_3">
			<div class="wrapper">
				<div class="container clearfix">
					<div class="col-lg-5 col-md-7 float-right">
						<h3>Hãy để chúng tôi giúp bạn tìm bữa trưa</h3>
						<p>Nhà hàng bún đậu mắm tôm bà Thu</p>
						<p><a class="btn_1 add_top_10 wow bounceIn" href="pricing.html" data-wow-delay="0.5s">Xem đánh giá ngay!</a></p>
					</div>
				</div>
				<!-- /container -->
			</div>
		</div>
		<!-- /call_section -->
		
	</main>
	<!-- /main -->

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<a data-toggle="collapse" data-target="#collapse_ft_1" aria-expanded="false" aria-controls="collapse_ft_1" class="collapse_bt_mobile">
						<h3>Liên kết</h3>
						<div class="circle-plus closed">
							<div class="horizontal"></div>
							<div class="vertical"></div>
						</div>
					</a>
					<div class="collapse show" id="collapse_ft_1">
						<ul class="links">
							<li><a href="#0">Trang chủ</a></li>
							<li><a href="#0">Reviews</a></li>
							<li><a href="#0">Nhà hàng</a></li>
							<li><a href="#0">Trang cá nhân</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<a data-toggle="collapse" data-target="#collapse_ft_2" aria-expanded="false" aria-controls="collapse_ft_2" class="collapse_bt_mobile">
						<h3>Phân loại</h3>
						<div class="circle-plus closed">
							<div class="horizontal"></div>
							<div class="vertical"></div>
						</div>
					</a>
					<div class="collapse show" id="collapse_ft_2">
						<ul class="links">
							<li><a href="#0">Nhà hàng châu Á</a></li>
							<li><a href="#0">Hàng Âu Mỹ</a></li>
							<li><a href="#0">Tiệm bánh</a></li>
							<li><a href="#0">Đồ uống</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<a data-toggle="collapse" data-target="#collapse_ft_3" aria-expanded="false" aria-controls="collapse_ft_3" class="collapse_bt_mobile">
						<h3>Liên hệ</h3>
						<div class="circle-plus closed">
							<div class="horizontal"></div>
							<div class="vertical"></div>
						</div>
					</a>
					<div class="collapse show" id="collapse_ft_3">
						<ul class="contacts">
							<li><i class="fas fa-map-marker-alt"></i>Số 1 Trần Đại Nghĩa<br>Hà Nội - Việt Nam</li>
							<li><i class="fas fa-phone"></i>0975275297</li>
							<li><i class="fas fa-envelope"></i><a href="#0">resview@gmail.com</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<h3>Mạng xã hội</h3>
					<div class="follow_us">
						<ul>
							<li><a href="#0"><i class="fab fa-facebook-square"></i></a></li>
							<li><a href="#0"><i class="fab fa-twitter-square"></i></a></li>
							<li><a href="#0"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /row-->
			<hr>
			<div class="row">
				<div class="col-lg-6">
				</div>
				<div class="col-lg-6">
					<ul id="additional_links">
						<li><a href="#0">Terms and conditions</a></li>
						<li><a href="#0">Privacy</a></li>
						<li><span>© 2019 Resview</span></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!--/footer-->
	</div>
	<!-- page -->
	
	<!-- Sign In Popup -->
	<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
		<div class="small-dialog-header">
			<h3>Sign In</h3>
		</div>
		<form>
			<div class="sign-in-wrapper">
				<a href="#0" class="social_bt facebook">Login with Facebook</a>
				<a href="#0" class="social_bt google">Login with Google</a>
				<div class="divider"><span>Or</span></div>
				<div class="form-group">
					<label>Email</label>
					<input type="email" class="form-control" name="email" id="email">
					<i class="fa fa-phone"></i>
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" name="password" id="password" value="">
					<i class="fa fa-lock"></i>
				</div>
				<div class="clearfix add_bottom_15">
					<div class="checkboxes float-left">
						<label class="container_check">Remember me
						  <input type="checkbox">
						  <span class="checkmark"></span>
						</label>
					</div>
					<div class="float-right mt-1"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
				</div>
				<div class="text-center"><input type="submit" value="Log In" class="btn_1 full-width"></div>
				<div class="text-center">
					Don’t have an account? <a href="register.html">Sign up</a>
				</div>
				<div id="forgot_pw">
					<div class="form-group">
						<label>Please confirm login email below</label>
						<input type="email" class="form-control" name="email_forgot" id="email_forgot">
					</div>
					<p>You will receive an email containing a link allowing you to reset your password to a new preferred one.</p>
					<div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
				</div>
			</div>
		</form>
		<!--form -->
	</div>
	<!-- /Sign In Popup -->
	 
	<div id="toTop"><i class="fas fa-arrow-up" style="margin-top: 13px"></i></div><!-- Back to top button -->
	