/*============================================================================*/
/* Your custom styles below */
/*============================================================================*/
#error_explanation li{
    font-size: 16px;
    color: red;
}
#error_explanation h2{
    display: none;
}

#image-url{
    height: 150px;
    width: 150px;
    margin-top: 30px;
    margin-left: 95px;
    margin-bottom: 30px;
}
.image-change{
    margin-left: 30px;
}
