<header class="header menu_fixed">
  <div id="logo">
    <a href="/">
      <img src="assets/img/logo.png" width="140" height="35" alt="" class="logo_normal">
      <img src="assets/img/logo.png" width="140" height="35" alt="" class="logo_sticky">
    </a>
  </div>
  <ul id="top_menu">
    <% if user_signed_in? %>
    <li><%= link_to "Đăng xuất", destroy_user_session_path, class: "btn_top", method: :delete %></li>
    <% else %>
    <li><%= link_to "Đăng nhập", new_user_session_path, class: "btn_top" %></li>
    <% end %>

  </ul>
  <!-- /top_menu -->
  <a href="#menu" class="btn_mobile">
    <div class="hamburger hamburger--spin" id="hamburger">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </div>
  </a>
  <!-- /btn_mobile -->
  <nav id="menu" class="main-menu">
    <ul>
      <li><span>
        <%= link_to "Trang chủ", root_path %>
      </span></li>
      <% if user_signed_in? %>
      <li><span>
        <%= link_to "Trang cá nhân", edit_user_registration_path %>
      </span></li>
      <% end %>
    </ul>
  </nav>
</header>
